<!-- Config file for the game -->

<config>
  <app>
    <title>Racing Game</title>
    <organization>UPC</organization>    
  </app>

  <scene_intro>
    <road_width value="12"/>
    <road_height value="0.5"/>
    <road_length value="30"/>
    <road_length2 value="20"/>
    
    <ground_width value="150"/>
    <ground_height value="15"/>
    <ground_length value="100"/>
    
    <castle_width value="15"/>
    <castle_height value="40"/>
    <castle_length value="15"/>
    
    <tunnel_height value="45"/>

    <finish_line_width value="1"/>
    <finish_line_length value="1"/>
    <bar_radius value="0.2"/>
    <bar_height value="30"/>
    
    <trunk_radius value="0.5"/>
    <trunk_height value="5"/>
    <tree_radius value="6"/>
    <tree_radius2 value="7"/>
    <tree_radius3 value="4"/>
    <tree_height value="20"/>
    <tree_height2 value="15"/>
    <tree_height3 value="25"/>
    
    <sky_width value="1"/>
    <sky_height value="400"/>
    
    <obstacle_radius value="1"/>
    <obstacle_height value="4"/>

    <minutes value ="1"/>
    <seconds value ="60"/>

    <sensorPos_1 x ="0" y ="1.5" z ="13"/>
    <sensorPos_2 x ="60" y ="1.5" z ="240"/>
    <sensorPos_3 x ="125" y ="-4" z ="369"/>
    <sensorPos_4 x ="277" y ="0.5" z ="287"/>
    <sensorPos_5 x ="345" y ="0" z ="-13"/>
    <sensorPos_6 x ="331" y ="0" z ="-85"/>
    <sensorPos_7 x ="432" y ="0" z ="-56"/>
    <sensorPos_8 x ="317" y ="0.5" z ="-49"/>
    <sensorPos_9 x ="317" y ="0.5" z ="-62"/>

    <checkbox_sensors_1 x ="60" y ="1.5" z ="65"/>
    <checkbox_sensors_2 x ="60" y ="1.5" z ="300"/>
    <checkbox_sensors_3 x ="277" y ="0.5" z ="267"/>
    <checkbox_sensors_4 x ="277" y ="0" z ="70"/>
    <checkbox_sensors_5 x ="388" y ="0" z ="-55"/>

  </scene_intro>

  <player>
    <start_pos x="0" y="0" z="-4"/>
    <checkpoint1 x="60" y="4" z="65"/>
    <checkpoint2 x="60" y="4" z="300"/>
    <checkpoint3 x="277" y="4" z="267"/>
    <checkpoint4 x="277" y="12" z="70"/>
    <checkpoint5 x="338" y="12" z="-55"/>
    <win_pos x="170" y="40" z="184"/>
    <lose_pos x="200" y="200" z="200"/>
    
    <FX1 path="Music/WAV/VICTORY.wav"/>
    <FX2 path="Music/WAV/GAMEOVER.wav"/>
    <seconds_to_jump value="6"/>
    <jump_force value="5000"/>

    <speed_up positive_x="150" negative_x="-300" positive_z="300" negative_z="-300"/>
    <max_speed value="80"/>
    <friction value="100"/>
    
  </player>

</config>